@import "base/colors";
@import "base/fonts";
@import "base/mixins";
$ancho:500;
$isPrimary:primary;
$isSecondary:secondary;
$networks: (twitter: #55acee, facebook: #3a5795, instagram: #8a3ab9);
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: grey;
    background: -webkit-gradient(linear, left top, right top, color-stop(33.33333%, grey), color-stop(66.66666%, white));
    background: linear-gradient(to right, grey 33.33333%, white 66.66666%);
    background-size: 300% 1px;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: background-position 400ms 150ms;
    transition: background-position 400ms 150ms;
}

.footer a:hover {
    background-position: bottom left;
}


/**********************************************/


/* (TEMPORAL) SOLO PARA LA CLASE DE SASS/BEM */


/*********************************************/

@each $network,
$color in $networks {
    .#{$network}--color {
        color: $color !important;
        font-weight: 600;
    }
}

@each $img in 1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11 {
    .gallery article figure .img#{$img} {
        background-image: url('../../images/necklaces/#{$img}.jpg');
        width: 100%;
        height: 500px;
        border-radius: 0.5rem;
    }
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "image description" "image details" "image price";
    margin: 2rem 0;
}

.product__image {
    grid-area: image;
}

.product__description {
    align-self: center;
    grid-area: description;
}

.product__details {
    align-self: center;
    grid-area: details;
}

.product__price {
    align-self: center;
    grid-area: price;
}

.price_link {
    @if $isPrimary==primary {
        background-color: $primary;
    }
    @else if $isPrimary==secondary {
        background-color: $secondary;
    }
    color: white;
    padding: 1rem 2rem;
}

.price_link:hover {
    @if $isSecondary==primary {
        background-color: $primary;
    }
    @else if $isSecondary==secondary {
        background-color: $secondary;
    }
    color: white;
    opacity: 0.9;
}

.price_link--rounded {
    border-radius: 0.5rem;
}

.price_link--none-underline {
    text-decoration: none;
}

.articleArrivals {
    padding: 0 3rem;
}

.figure__link--crosshair {
    cursor: crosshair !important;
}

.figure__caption {
    font-size: 10px;
}

.figure__caption--pl-1 {
    padding-left: 1rem;
}

.login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login__group {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    padding: 2rem;
}

.group__button {
    border: none !important;
    background-color: darkcyan;
    color: white;
    padding: 1rem;
    display: inline-block;
}

.group__button--bold {
    font-weight: 700;
}

.group__button--rounded {
    border-radius: 0.3rem;
}

.grid img {
    max-height: ($ancho/2);
}


/*********************************************/

img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.featurette-divider {
    margin: 5rem 0;
}

main a:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(33.33333%, var(--c-text)), color-stop(66.66666%, white));
    background: linear-gradient(to right, var(--c-text) 33.33333%, white 66.66666%);
    background-size: 300% 1px;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: background-position 400ms var(--a-speed);
    transition: background-position 400ms var(--a-speed);
}

figcaption {
    font-size: calc(var(--f-size) * var(--f-scale-s));
    line-height: 1rem;
    letter-spacing: -0.00315856em;
    text-align: left;
    margin-top: 0.5rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    padding: 0 1rem 2rem 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.grid article {
    padding: 1rem;
}


/* .grid img {
    max-height: 250px;
} */

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery article {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    padding: 3rem;
}

.gallery img {
    width: 100%;
}

@media (max-width: 1024px) {
    .gallery article {
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
    }
}

@media (max-width: 768px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .gallery article {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
}


/*# sourceMappingURL=styles.css.map */